{% extends "index.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
<style>
h2 {
    display: inline;
    font-size: 2em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    width:80%;
    font-weight: bold;
    text-align: left;
    line-height: 67px;
    padding-left: 10px;

}
.accordion {
    background-color: #f2e2e1;
    color: #000;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

    transition: 0.4s;

}

.active, .accordion:hover {
    background-color: #ba4444;
    color:white;
}

.accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding: 20px 0;
    padding-right: 10px;
}

.active:after {
    content: "\2212";
    color:white;
    padding-right: 10px;

}

.panel {
    padding: 0 0px;
    background-color: #ba4444;
    max-height: 0;
    color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-left: 10px;
    padding-right: 10px;
}





</style>


<article>


<h2 style="font-size: 3em; text-align: left">{{title}}</h2>
<blockquote>
<p>{{info.overview}}</p>
</blockquote>



<button class="accordion"><h2> Background</h2></button>
<div class="panel">
  <p>{{info.background}}</p>
</div>

<button class="accordion"><h2> Daily Workflow</h2></button>
<div class="panel">
  <p>{{info.workflow}}</p>
</div>

<button class="accordion"><h2> Budget</h2></button>
<div class="panel">
  <p>{{info.budget}}</p>
</div>

<button class="accordion"><h2> Setup</h2></button>
<div class="panel">
  <p>{{info.setup}}</p>
</div>

<button class="accordion"><h2> Outcomes</h2></button>
<div class="panel">
  <p>{{info.outcomes}}</p>
</div>


<figure>

<img src="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1275274/d4lk2en4x9r4mxbfzogw.png">
<img src="https://mail.google.com/mail/u/0/?ui=2&ik=ef7fe83783&view=att&th=1635bfceea7670a9&attid=0.1&disp=safe&realattid=f_jh5hs8zj0&zw">	

</figure>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>




{% endblock %}
