{% extends "index.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}


    <article>
  <section style="background-color:white">
    <h2 style="color:navy; width:50%; display:inline-block;">{{title}}</h2>
    <p style="color:navy;">{{info.Organization}}</p>
    <br>
    <p style="color:navy" >{{info.Workflow}}</p>

    <p>Pariatur consequatur blanditiis voluptatem. Error in esse temporibus quia. Perferendis molestiae velit deleniti deserunt. Provident qui ullam adipisci optio. Molestias similique et deserunt sint molestias autem non autem. Nemo itaque repellat assumenda nostrum qui eos porro dolorum.</p>
  </section>
 
</article>



{% endblock %}
